# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Eleventy output
_site/

# Node deps
node_modules/

# Editor or OS files
.DS_Store
.idea/